
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
html, body{
    height: 100%;
    width: 100%;
}
/* Nav bar */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    margin: 50px 0px 0px 150px;
}
nav button{
    margin: 50px 150px 0px 0px;
    border-radius: 5px;
    background-color: transparent;
}


/* Shared code */
.btn-primary{
    padding: 17px 24px;
}
.btn-primary > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.section-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* Banner style */
.banner{
    background-image: url('./assets/Hero-bg.png');
    height: 650px;
    margin-top: 36px;
    margin-bottom: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    /* background-color: aquamarine; */
    height: 90%;
    width: 62%;
    text-align: center;
    
}
.intro > img, .intro > h1, .intro> p, .intro> button{
    margin: 20px;
}

.intro > button{
    background-color: rgba(13, 19, 33, 1);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}
/* Main section */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Why web development section */
.why-web-dev{
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 12px;
}
.inner-div{
    display: flex;
    padding: 48px;
    background-color: white;
}
.inner-div section{
    width: 50%;
}
.section-flex > button{
    background-color: transparent;
}
/* Inspiration section */
.inspiration{
    background-color: transparent;
    padding: 80px;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 12px;
}

.inspiration > iframe{
    padding: 23px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Need support styles */
.need-support{
    width: 70%;
    height: 300px;
    color: white;
    display: flex;
    text-align: center;
}
.blur{
    position: absolute;
    background-image: url('./assets/handshake.jpg');
    background-size: cover;
    z-index: -1;
    width: 65vw;
    height: 30vh;
    filter: brightness(0.5);
    border-radius: 12px;
}
.support-section{
    width: 65vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.need-support-input input[type="text"]{
    padding: 10px;
    width: 455px;
    margin-top: 10px;
    border-radius: 9px;
}
.need-support-input input[type="text"] ::placeholder{
    font-size: 12px;
}
.need-support-input input[type="submit"]{
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
}

/* Footer section */
#footer{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: rgba(13, 19, 33, 0.03);
    padding: 12px 83px;
    align-items: center;
}
